*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --size-image: 20rem;
  --color-light-grayish: hsl(210, 46%, 95%);
  --color-grayish: hsl(212, 23%, 69%);
  --color-dark-grayish: hsl(217, 19%, 35%);
}

html {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light-grayish);
  font-family: 'Manrope', Sans-Serif;
}

.container {
  background-color: white;
  display: flex;
  width: min(90%, 45rem);
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  color: var(--color-dark-grayish);
  box-shadow: 10px 40px 20px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  height: auto;
}

.container__section {
  height: auto;
  padding: 2rem;
}

.container__section h2 {
  margin: 0;
}

.container__drawer-wrapper {
  height: 100%;
}

.container__drawer-img {
  display: block;
  height: 100%;
  width: var(--size-image);
}

.container__text-wrapper p {
  line-height: 2;
}

.container__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  position: relative;
}

.container__profile-pic {
  height: 2.5rem;
  border-radius: 50%;
}

.container__profile-info p {
  margin: 0;
  padding: 0;
}

.container__share-btn {
  position: absolute;
  right: 0;
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
}

.product-info-wrapper {
  display: flex;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

.attribution a {
  color: #3e52a3;
}

.toggleOn {
  width: 100%;
}

@media all and (max-width: 45rem) {
  .container {
    flex-direction: column;
    width: min(70%, 45rem);
  }
  .container__drawer-wrapper {
    width: 100%;
  }
  .container__drawer-img {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
  }
}
