*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --size-image: 20rem;
  --color-light-grayish: hsl(210, 46%, 95%);
  --color-grayish: hsl(212, 23%, 69%);
  --color-dark-grayish: hsl(217, 19%, 35%);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light-grayish);
  font-family: 'Manrope';
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: unquote("min(90%, 45rem)");
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  color: var(--color-dark-grayish);
  box-shadow: 10px 40px 20px rgba(0,0,0,0.1);
  font-size: 0.8rem;
  &__section {
    height: 100%;
    padding: 2rem;
    & h2 {
      margin: 0;
    }
  }
  &__drawer-wrapper {
    height: 100%;
  }
  &__drawer-img {
    display: block;
    height: 100%;
    width: var(--size-image);
  }
  &__text-wrapper {
    padding: 0;
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    &-pic {
     height: 2.5rem;
     border-radius: 50%;
    }
    &-info p {
      margin: 0;
      padding: 0;
    }
  }
  &__share-btn {
    position: absolute;
    right: 0;
    top: .5rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: none;
  }
}
.attribution { 
  font-size: 1rem;
  text-align: center; 
  & a {
    color: hsl(228, 45%, 44%);
  }
}